@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
  background-color: rgb(240, 240, 240);
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
}

.container {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 40%;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.browser {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1504386106331-3e4e71712b38');
}

.server {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1513407030348-c983a97b98d8');
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }

  .container {
    width: 90vw;
  }
  .card {
    height: 200px;
    width: 100%;
  }
}
